body {
    background: #fff;
    padding-top: 80px;
    overflow-x: hidden;
}
footer {
    padding: 10px 0;
}
textarea.form-control {
    height: 100px !important;
}
#main_content {
    padding: 40px 0 60px;
}
