body {
    background: #fff;
    padding-top: 80px;
    overflow-x: hidden;
}
footer {
    padding: 10px 0;
}
textarea.form-control {
    height: 100px !important;
}
#main_content {
    padding: 40px 0 60px;
}
#search {
    margin-top: 5px;
}
#search button {
    height: 38px;
}
#search .input-group {
    margin-bottom: 0;
}
h1.logo {
    float: left;
    font-size: 25px;
    text-transform: lowercase;
    margin-top: 4px;
}
h1.logo span {
    display: inline-block;
    width: 38px;
    margin-right: 3px;
}
h1.logo span img {
    width: 210px !important;
}
h1.logo a {
    color: #444;
}
