{% load i18n %}
<h1>{% trans "Registrar um novo usuário" %}</h1>
<form action="/register/validate/" method="POST">{% csrf_token %}
        
    {% if form.errors or msg %}
        <b>{% trans "Erro!" %}</b> <br />
        {{ msg }} <br />
        {{ form.errors.as_text }}
    {% endif %}

    <br />
    {% trans "Usuário" %}: <input name="{{ form.username.name }}" value="{{ form.username.value|default_if_none:'' }}" type="text" >
    <br />
    {% trans "E-Mail" %}: <input name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" type="text" >
    <br />
    {% trans "Senha" %}: <input name="{{ form.password.name }}"  value="{{ form.password.value|default_if_none:'' }}" type="password" >
    <br />
    <input name="{{ form.last_login.name }}" value="{{ form.last_login.value|default_if_none:'' }}" type="hidden" >
    <button type="submit">{% trans "Cadastrar" %}</button>

</form>