{% load staticfiles %}
<footer>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Informe seu e-mail para receber notícias.</h3>
			<div id="message-newsletter">
			</div>
			<form method="post" action="#" name="newsletter" id="newsletter" class="form-inline">
				<input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Seu Email" class="form-control">
				<button id="submit-newsletter" class=" button_outline"> Enviar</button>
			</form>
		</div>
	</div>
</div>

<hr>

<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<h4>Mais</h4>
			<ul>
				<li><a href="#">Preços</a></li>
				<li><a href="#">Anuncios</a></li>
				<li><a href="#">Produtos</a></li>
				<li><a href="#">Contato</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Categorias</h4>
			<ul>
				<li><a href="#">Esportes</a></li>
				<li><a href="#">Música</a></li>
				<li><a href="#">Moda & Beleza</a></li>
				<li><a href="#">Imóveis</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Experimente</h4>
			<ul>
				<li><a href="#">Iniciar Sessão</a></li>
				<li><a href="#">Cadastre-se</a></li>
				<li><a href="#">Condições de Uso</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class=" fa fa-google"></i></a></li>
			</ul>
			<ul>
				<li>Dúvidas? <a href="#"><span class="__cf_email__">webmaster@tobuscando.com</span><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">Todos os direitos reservados. © tobuscando.com</div>
</footer>

<div id="toTop">Voltar ao topo</div>

<!-- JQUERY -->
<script src="{% static 'layout_oficial/js/jquery-1.10.2.min.js' %}"></script>

<!-- OTHER JS -->
<script src="{% static 'layout_oficial/js/superfish.js' %}"></script>
<script src="{% static 'layout_oficial/js/bootstrap.min.js' %}"></script>
<script src="{% static 'layout_oficial/js/retina.min.js' %}"></script>
<script src="{% static 'layout_oficial/js/jquery.fitvids.js' %}"></script> <!-- for video responsive-->
<script src="{% static 'layout_oficial/js/validate.js' %}"></script>
<script src="{% static 'layout_oficial/js/jquery.placeholder.js' %}"></script>
<script src="{% static 'layout_oficial/js/functions.js' %}"></script>
<script src="{% static 'layout_oficial/js/classie.js' %}"></script>
<script src="{% static 'layout_oficial/js/uisearch.js' %}"></script>
<script src="{% static 'layout_oficial/js/wizard_func.js' %}"></script>
<script src="{% static 'layout_oficial/js/jquery.icheck.js' %}"></script>
<script>new UISearch( document.getElementById( 'sb-search' ) );</script>
<script>$(".video").fitVids();</script>

<!-- STYLE SWITCHER  -->
<link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'css/jquery-sticklr-1.4-light-color.css' %}" >
<script type="text/javascript" src="{% static 'layout_oficial/js/jquery-sticklr-1.4.min.js' %}"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
	        $('#example-1').sticklr({
                animate         : true,
                showOn		    : 'hover'
			});
	    });
	</script>
  </body>
</html>
