{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
  	<meta charset="utf-8">
    <title>ToBuscando Ofertas</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Verification -->
    <meta name="google-site-verification" content="SLHlAEf4Y-uOD9kXaaCZBDijBSRt31Uc_EbZcZEYuuI" />
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'layout_oficial/img/icone_logo.png' %}" class="ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'layout_oficial/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'layout_oficial/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'layout_oficial/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'layout_oficial/img/apple-touch-icon-144x144-precomposed.png' %}">
    
    <!-- CSS -->
    <link href="{% static 'layout_oficial/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'layout_oficial/css/superfish.css' %}" rel="stylesheet">
    <link href="{% static 'layout_oficial/css/style.css' %}" rel="stylesheet">
    <link href="http://www.ansonika.com/learn/fontello/css/fontello.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

		<!-- Analytics Tobuscando.com -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-53737397-1', 'auto');
			ga('send', 'pageview');
		</script>

  </head>
  
  <body>
  <header>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="{% static 'layout_oficial/img/LogoOficial5.png' %}" style="width: 284px; margin-left: 10px;" alt="">
		</div>
		<div class="col-md-9 col-sm-9 col-xs-9" style="margin-top: 10px;">
			<div class="pull-right"><a href="{% url 'core:login' %}" class="button_top" id="login_top">Iniciar Sessão</a> <a href="#" class="button_top hidden-xs" id="apply">Cadastrar-se</a></div>
            <ul id="top_nav" class="hidden-xs">
                <li><a href="#">→ ANUNCIE </a></li>
                <li><a href="#">tá buscando?</a></li>
                <li><a href="#">Cadastre-se</a></li>
            </ul>
		</div>
	</div>
</div>
</header><!-- End header -->