<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li class="normal_drop_down">
				<a href="/">Home</a>
				<div class="mobnav-subarrow"></div>
				<ul>
					<li><a href="#"><i class="icon-briefcase"></i>Negociação</a></li>
					<li><a href="#"><i class="icon-direction"></i>Ofertar</a></li>
					<li><a href="#"><i class="icon-trophy"></i>Top compradores</a></li>
                    <li><a href="#"><i class="icon-trophy"></i>Tóp vendedores</a></li>
				</ul>
				</li>
				<li class="normal_drop_down">
				<a href="#">Categorias</a>
				<div class="mobnav-subarrow"></div>
				<ul>
                	<li><a href="#"><i class="icon-soccer"></i>Esportes</a></li>
                    <li><a href="#"><i class="icon-giraffe"></i>Animais e acessórios</a></li>
                    <li><a href="#"><i class="icon-lodging"></i>Móveis</a></li>
                    <li><a href="#"><i class="icon-mobile"></i>Eletrônicos e celulares</a></li>
                    <li><a href="#"><i class="icon-music"></i>Música</a></li>
                    <li><a href="#"><i class="icon-school"></i>Infantil</a></li>
                    <li><a href="#"><i class="icon-glasses"></i>Moda</a></li>
					<li><a href="#"><i class="icon-bus"></i>Veículos</a></li>
                    <li><a href="#"><i class="icon-home"></i>Imóveis</a></li>
                    <li><a href="#"><i class="icon-hammer"></i>Oportunidades</a></li>
				</ul>
				</li>
				<li><a href="#">Preços &amp; Ofertas</a></li>
                <li class="mega_drop_down">
				<a href="#">Todos os Produtos</a>
                <div class="mobnav-subarrow"></div>
                <div class="sf-mega">
                	<div class="col-md-4 col-sm-6">
                    	<h5>Esportes e Ginástica</h5>
                            <ul class="mega_submenu">
                            	<li><a href="#">Musculação e fitness</a></li>
								<li><a href="#">Futebol e acessórios</a></li>
                                <li><a href="#">Skates e patins</a></li>
                                <li><a href="#">Tênis e acessórios</a></li>
                                <li><a href="#">Pranchas</a></li>
								<li><a href="#">Outros</a></li>
                            </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                   <h5>Móveis</h5>
                            <ul class="mega_submenu">
                            	<li><a href="#">Armários</a></li>
                                <li><a href="#">Camas e colchões</a></li>
                                <li><a href="#">Escritório</a></li>
                                <li><a href="#">Mesas e cadeiras</a></li>
                                <li><a href="#">Estantes</a></li>
                                <li><a href="#">Outros</a></li>
                            </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                    <h5>Música</h5>
                            <ul class="mega_submenu icons">
                            	<li><a href="#"> Guitarras<i class="icon-music"></i></a></li>
                                <li><a href="#">Violões <i class="icon-music"></i></a></li>
                                <li><a href="#">Baixos <i class="icon-music"></i></a></li>
                                <li><a href="#">Outros <i class="icon-music"></i></a></li>
                            </ul>
                    </div>
                </div>
                </li>
				<li><a href="#"> Contato</a></li>
			</ul>
            
            <div class="col-md-3 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Pesquise um produto..." type="text" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"></span>
						</form>
					</div>
              </div><!-- End search -->
              
		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>