{% extends 'base_site.html' %}


{% load i18n %}
{% load cloudinary %}


{% block page_title %}{{ person.name }} - {% endblock page_title %}

{% block content %}
<div id="breadcrumb" class="clearfix col-sm-12">
    <ul class="breadcrumb">
        <li><a href="{% url 'core:home' %}" tilte="{% trans 'Início' %}">{% trans "Início" %}</a></li>
        <li><a href="#" tilte="{% trans person.get_full_name %}">{% trans person.get_full_name %}</a></li>
    </ul>
</div>

<aside class="col-lg-3 col-md-4 col-sm-4">
    {% if person.avatar %}
    {% cloudinary person.avatar width=100 h=100 %}
    {% endif %}

    <div class="pull-left">
        <h3>{{ person.get_full_name }}</h3>
        <p><strong>{{ person.username }}</strong></p>
        <p>{{ person.email }}</p>
    </div>
</aside>

<div class="col-sm-9">
    <div class="clearfix">
        <ul class="list-unstyle list-inline pull-right">
            <li>{% trans 'Ordernar por:' %}</li>
            <li><a href="?order_by=price" title="Menor preço">Menor preço</a></li>
            <li><a href="?order_by=-price" title="Maior preço">Maior preço</a></li>
        </ul>
    </div>
    <div class="clearfix">
        {% for object in person.ads %}
        {% include 'ad_snippet.html' %}
        {% empty %}
        {% include 'not_found.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}

