{% load staticfiles %}
{% include 'header.html' %}

{% include 'navbar.html' %}

{% block content %}

<section id="sub-header" >
  	<div class="container">
    	<div class="row">
        	<div class="col-md-6">
            	<h1>Nós avisamos!</h1>
                <h2>Chegou o melhor site de compras e vendas do Brasil. Receba ofertas ou anuncie já!</h2>
                <ul class="list_ok">
                    <li><strong>Segurança</strong> em suas compras</li>
                    <li><strong>Agilidade</strong> nas entregas</li>
                    <li><strong>Responsabilidade</strong> de escolhas</li>
                    <li><strong>Grátis</strong> durante 1 mês</li>
                </ul>
            </div>
            <div class="col-md-6 video">
            	<iframe src="//player.vimeo.com/video/103229541" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div><!-- End row -->
    </div>
  </section><!-- End sub-header -->

<section id="main_content">
<div class="container">

	 <div class="row">
	<div class="col-md-7" style="text-align: justify;">
       
		<h3>Uma grande ideia que permite inovação.</h3>
		<p>
			ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a melhor oferta avaliada por nós. ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a melhor oferta avaliada por nós.
		</p>
		<p>
			ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a melhor oferta avaliada por nós.
		</p>
		<h3>Por que escolher o ToBuscando?</h3>
		<h4>Serviços</h4>
		<p>
			ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a melhor oferta avaliada por nós.
		</p>
		<h4>Ótimos preços</h4>
		<p>
			ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a melhor oferta avaliada por nós.
		</p>
		</div>
		<div class="col-md-4 col-md-offset-1">
        <div class="row">
        <div class="col-md-12 col-sm-6">
				<div class="project-item-image-container">
					<img src="{% static 'layout_oficial/img/cart_buy.png' %}" style="margin-top: 60px;" alt=""/>
				</div>
			</div><!-- End col-md-12-->
            
     </div><!-- End row -->
       </div>
	</div><!-- End row -->
</div><!-- End container -->
</section><!-- End main_content-->
    
    <section id="main-features">
    <div class="divider_top_black"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-10 col-md-offset-1 text-center">
                <h2>Utilidades</h2>
                <p class="lead">
                    ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a <b>melhor</b> oferta avaliada por nós.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-chat"></i>
                    <h3>Negocie dentro do seu orçamento</h3>
                    <p>
                        Depois de ter disponibilizado sua intenção de compra e/ou venda, você terá uma negociação saudável com vários vendedores/compradores.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class=" icon-ok-4"></i>
                    <h3>Faça a sua proposta de compra</h3>
                    <p>
                        ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a melhor oferta avaliada por nós.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-basket-3"></i>
                    <h3>+500 Empresas Cadastradas</h3>
                    <p>
                        ToBuscando.com tem o objetivo de facilitar a compra do seu produto, sem exigir esforço algum. Basta uma publicação e Puff! Em um piscar de olhos, você receberá a melhor oferta avaliada por nós.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-basket-3"></i>
                    <h3>+3.000 Produtos à venda</h3>
                    <p>
                        O Tobuscando disponibiliza uma variedade de produtos que se adequam aos seus gostos, tentando sempre satisfaze-los. Basta dizer o que deseja!
                    </p>
                </div>
            </div>
            </div><!-- End row -->
            </div><!-- End container -->
    </section><!-- End main-features -->
	<section id="join">
	   <div class="container">
	 	<div class="row">
	    	<div class="col-md-8 col-md-offset-2 text-center">
	        <div class="row">
	        <div class="col-md-2 hidden-sm hidden-xs"><img src="{% static 'layout_oficial/img/arrow_hand_1.png' %}" alt="Arrow" > </div>
	        <div class="col-md-8"><a href="#" class="button_big">Cadastre-se</a> </div>
	        </div>
	         </div>
	 </div>
	  </div>
	 </section>

        
        
    
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class='col-md-offset-2 col-md-8 text-center'>
                    <h2>O que eles falam</h2>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-offset-2 col-md-8'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="{% static 'layout_oficial/img/rosto1.png' %}" alt="">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                                Conforme os produtos que desejava, adorei ter a possibilidade do vendedor chegar até mim.
                                            </p>
                                            <small>Maria Fátima</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="{%  static 'layout_oficial/img/rosto2.png' %}" alt="">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                                Como logista, a ferramenta é ótima para encontrar consumidores para os meus produtos!
                                            </p>
                                            <small>Luís Silva</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="{% static 'layout_oficial/img/testimonial_1.jpg' %}" alt="">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                                Satisfeita com
                                                 a agilidade e qualidade do produto. É realmente um serviço sério. 
                                            </p>
                                            <small>Júlia Castanha</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </section><!-- End testimonials -->

{% endblock content %}

<!-- footer -->
{% include 'footer.html' %}