{% load staticfiles %}
{% include 'header.html' %}

{% include 'navbar.html' %}

{% load bootstrap3 %}


{% block content %}

{% block css %}

	<style>
		.col-md-12 {
			margin-top: 20px;
		}

	</style>

{% endblock %}

<section id="sub-header">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h1>Ta buscando?</h1>
					<p class="lead boxed ">Aqui você encontra produtos nos melhores preços</p>
		            <form action="#" method="get"  id="search-form" >
						<div class="input-group" >
							<input type="text" placeholder="Procure produtos, vendedores..."  name="autocomplete-ajax" id="autocomplete-ajax"  class="form-control style-2" />
							<span class="input-group-btn">
							<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div><!-- /input-group -->
		                  <div class="adv_search"><a href="#">Busca avançada</a></div>
					</form>
				</div>
			</div><!-- End row -->
		</div><!-- End container -->
		<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
    	<div class="container">

        <ol class="breadcrumb">
          <li><a href="{% url 'core:products' %}">Produtos</a></li>
          <li class="active">Unidade</li>
        </ol>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
				<div class="col-item">
					<div class="photo">
                        <a href="#"><img src="{% static 'layout_oficial/img/pc.jpg' %}" alt="" /></a>
                        <div class="cat_row"><span class="pull-right"><i class=" fa fa-clock"></i>Anunciado à 6 Dias</span></div>
                    </div>
				</div>
				<!-- mini image-->
				<div class="col-md-12">
					<div class="col-md-2">
						<img src="{% static 'layout_oficial/img/pc.jpg' %}" class="img-responsive" style="width: 200px">
					</div>
					<div class="col-md-2">
						<img src="{% static 'layout_oficial/img/pc.jpg' %}" class="img-responsive" style="width: 200px">
					</div>
					<div class="col-md-2">
						<img src="{% static 'layout_oficial/img/pc.jpg' %}" class="img-responsive" style="width: 200px">
					</div>
					<div class="col-md-2">
						<img src="{% static 'layout_oficial/img/pc.jpg' %}" class="img-responsive" style="width: 200px">
					</div>
					<div class="col-md-2">
						<img src="{% static 'layout_oficial/img/pc.jpg' %}" class="img-responsive" style="width: 200px">
					</div>
					<div class="col-md-2">
						<img src="{% static 'layout_oficial/img/pc.jpg' %}" class="img-responsive" style="width: 200px">
					</div>
				</div>

				</div>
				<div class="col-md-6">
				<h3>Notebook Acer V5-123-3728 com Processador AMD E1, 2GB</h3>
					<hr>
					<strong> Preço: R$ 999,00</strong>
						<p>Conecte-se com o mundo onde você estiver através de uma rede wireless sem fio disponível e acesse redes sociais e e-mails. Compartilhe seus melhores momentos com os amigos.</p>
			    </div>
			    <div class="col-md-3">
						<form action="." method="POST" class="form-group" accept-charset="utf-8">
							<input type="hidden" name="#" id="#"value="#">
								{% csrf_token %}

								<div class="col-md-6">
								<input type="number" name="quantity" id="id_quantity" value="1" placeholder="Quantidade" required="required" class="form-control" ><br><br>
								</div>
								<div class="col-md-6">
									{% buttons submit='Comprar!' %}{% endbuttons %}
								</div>
						</form>
					</div>
				<div class="col-md-5 col-md-offset-1 text-center">
					<h3>Change your Payment method</h3>
                            <div  id="payment_opt">
                                <label class="radio-inline">
                                <input type="radio" id="" value="" name="payment" checked><img src="{% static 'layout_oficial/img/logo_paypal.png' %}" alt="Paypal" class="payment_logos">
                                </label>
                                 <label class="radio-inline">
                                <input type="radio" id="" value="" name="payment"><img src="{% static 'layout_oficial/img/logo_visa.png' %}" alt="Card" class="payment_logos">
                                </label>
                                 <label class="radio-inline">
                                <input type="radio" id="" value="" name="payment"><img src="{% static 'layout_oficial/img/logo_master.png' %}" alt="Card" class="payment_logos">
                                </label>
                                 <label class="radio-inline">
                                <input type="radio" id="" value="" name="payment"><img src="{% static 'layout_oficial/img/logo_maestro.png' %}" alt="Card" class="payment_logos">
                                </label>
                            </div>
                </div>

			<div class="col-md-10 col-md-offset-1">
                <h3>Order summary</h3>
                <div class="table-responsive">
                                <table class="table table-hover " style="margin-bottom:0;">
                                    <thead>
                                    <tr>
                                        <th>Items</th>
                                        <th>Amount</th>
                                    </tr></thead>
                                <tbody>
                                <tr>
                                    <td>Price of the course</td>
                                    <td>€0.99</td>
                                </tr>
                                 <tr class="info" style="border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; font-size:18px">
                                    <td><strong>TOTAL</strong></td>
                                    <td><strong>€0.99</strong></td>
                                </tr>
                                <tr>
                                    <td><small>without VAT</small></td>
                                    <td><small>€ 0.83</small></td>
                                </tr>
                                <tr>
                                    <td><small>VAT (19%)</small></td>
                                    <td> <small>€0.16</small> </td>
                                </tr>

                            </tbody></table>
                        </div>
                </div>
			</div>

		</div>




        </div>
</section>





{% endblock content %}
{% include 'footer.html' %}
