{% extends 'dashboard/base_dashboard.html' %}

{% load bootstrap3 %}
{% load cloudinary %}


{% block dashboard_content %}
<h2>Editar anúncio</h2>
<br><br>

{% if form.is_multipart %}
<form enctype="multipart/form-data" id="id_form_ad" name="form_ad" action="." method="POST" class="form-horizontal">
    {% else %}
    <form id="id_form_ad" name="form_ad" action="." method="POST" class="form-horizontal">
        {% endif %}
        {% csrf_token %}

        {% for field in form %}
        <div class="clearfix">
            {% if field.name == 'image' and ad.image %}
            <div class="col-sm-offset-2 col-sm-10">
                {% cloudinary ad.image width=100 height=100 %}
            </div>
            {% endif %}
            {% bootstrap_field field layout='horizontal' %}

            {% ifequal field.name 'category' %}
            <div id="metaoptions" class="clearfix">
                {% if form.category.value %}
                {{ meta_inlineformset.management_form }}
                {{ meta_inlineformset }}

                {% for formset in meta_inlineformset %}
                <div class="row-inline">
                    {% bootstrap_form formset layout='horizontal' %}
                </div>
                {% endfor %}

                <style type="text/css">
                    .row-inline > div:first-child {
                        display: none;
                    }
                    </style>
                {% endif %}
            </div>
            {% endifequal %}
        </div>
        {% endfor %}

        {% buttons %}
        <div class="col-sm-offset-2">
            <a href="javascript:history.back()" class="btn btn-link">Cancelar</a>
            <button type="submit" class="button_outline text-center btn-info btn-new_ad hidden-xs">Salvar</button>
        </div>
        {% endbuttons %}
    </form>
    {% endblock dashboard_content %}
