{% extends 'dashboard/base_dashboard.html' %}

{% load pagination_tags %}
{% load cloudinary %}


{% block dashboard_content %}
<h2>Meus Anúncios</h2>
<br><br>

{% autopaginate ads 10 %}
{% for ad in ads %}
<div class="item clearfix">
    <div class="col-sm-1">
        <a href="{{ ad.get_absolute_url }}" target="_blank" class="small">
            {% cloudinary ad.image class='img-responsive' width=50 height=50 %}
        </a>
    </div>
    <div class="col-sm-8">
        <div class="clearfix ad-title">{{ ad.title }} <a href="{{ ad.get_absolute_url }}" target="_blank" class="small"><i class="fa fa-link"></i></a> </div>
        <div class="cleafix">
            <ul class="list-unstyle list-inline">
                <li><a href="{% url 'dashboard:ad_edit' pk=ad.pk %}"><i class="fa fa-edit"></i> Editar</a></li>
                <li><a class="delete" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-remove"></i> Excluir</a></li>
                {% if ad.is_active %}
                <li><strong>Status:</strong> <span class="fa  fa-check-circle"></span></li>
                {% else %}
                <li><strong>Status:</strong> <span class="fa  fa-times-circle"></span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% empty %}
<div class="alert alert-info">Você ainda não possui anúncios. Crie <a href="{% url 'ads:ad_create' %}">aqui</a> o seu primeiro.</div>
{% endfor %}

{% paginate %}

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
  </div>
    <div class="modal-body">
     <h4 class="modal-title" id="myModalLabel">Confirma a exclusão do seu anúncio?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
        <a href="{% url 'dashboard:ad_delete' pk=ad.pk %}" type="button" class="btn btn-danger">Sim</a>
    </div>
    </div>
  </div>
</div>
{% endblock dashboard_content %}
