{% extends 'dashboard/base_dashboard.html' %}

{% load pagination_tags %}
{% load cloudinary %}


{% block js %}
    <script type="text/javascript">
    $("a.delete").click(function() {
        if(!confirm('Confirma a exclusão do seu anuncio?'))
            return false;
    })
    </script>
{% endblock js %}

{% block dashboard_content %}
<h2>Meus Anúncios</h2>
<br><br>

{% autopaginate ads 10 %}
{% for ad in ads %}
<div class="item clearfix">
    <div class="col-sm-1">
        <a href="{{ ad.get_absolute_url }}" target="_blank" class="small">
            {% cloudinary ad.image class='img-responsive' width=50 height=50 %}
        </a>
    </div>
    <div class="col-sm-8">
        <div class="clearfix ad-title">{{ ad.title }} <a href="{{ ad.get_absolute_url }}" target="_blank" class="small"><i class="fa fa-link"></i></a> </div>
        <div class="cleafix">
            <ul class="list-unstyle list-inline">
                <li><a href="{% url 'dashboard:ad_edit' pk=ad.pk %}" class="delete"><i class="fa fa-edit"></i> Editar</a></li>
                <li><a href="{% url 'dashboard:ad_delete' pk=ad.pk %}"><i class="fa fa-remove"></i> Excluir</a></li>
                {% if ad.is_active %}
                <li><strong>Status:</strong> <span class="fa  fa-check-circle"></span></li>
                {% else %}
                <li><strong>Status:</strong> <span class="fa  fa-times-circle"></span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% empty %}
<div class="alert alert-info">Você ainda não possui anúncios. Crie <a href="{% url 'ads:ad_create' %}">aqui</a> o seu primeiro.</div>
{% endfor %}

{% paginate %}
{% endblock dashboard_content %}
