{% extends 'base_site.html' %}

{% load staticfiles %}
{% load cloudinary %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock css %}

{% block content %}
<aside id="dashboard-nav" class="col-sm-3 list-group">
    <a href="{% url 'dashboard:dash_home' %}" id="link-ads" class="list-group-item">Visão geral</a>
    <a href="{% url 'dashboard:ad_list' %}" id="link-ads" class="list-group-item">Meus Anúncios</a>
    <a href="{% url 'dashboard:profile' %}" id="link-profile" class="list-group-item">Meus dados</a>
</aside>


<div class="col-sm-9">
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {% ifequal message.tags 'success' %}
    <i class="fa fa-check"></i>
    {% else %}
    <i class="fa fa-{{ message.tags }}"></i>
    {% endifequal %}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% block dashboard_content %}{% endblock dashboard_content %}
</div>
{% endblock content %}
