{% extends 'dashboard/base_dashboard.html' %}
{% load i18n %}


{% block dashboard_content %}
<h2>{% trans "Visão geral" %}</h2>
<br><br>

<div class="col-sm-4">
    <a href="{% url 'dashboard:ad_list' %}" class="btn btn-primary btn-block">
        <h4><i class="fa fa-bullhorn fa-lg"></i><br><br>{% trans "Meus Anúncios" %}</h4>
        <strong>{{ user.ads.count }}</strong><br><br>
    </a>
</div>

<div class="col-sm-4">
    <a href="{% url 'dashboard:offers_give_list' %}" class="btn btn-info btn-block">
        <h4><i class="fa fa-gavel fa-lg"></i><br><br>{% trans "Ofertas Enviadas" %}</h4>
        <strong>{{ user.offers_give.count }}</strong><br><br>
    </a>
</div>

<div class="col-sm-4">
    <a href="{% url 'dashboard:offers_receive_list' %}" class="btn btn-warning btn-block">
    <!-- <a href="{% url 'dashboard:offer_list' %}" class="btn btn-warning btn-block"> -->
        <h4><i class="fa fa-bell fa-lg"></i><br><br>{% trans "Ofertas Recebidas" %}</h4>
        <strong>{{ user.offers_receive.count }}</strong><br><br>
    </a>
</div>


{% endblock dashboard_content %}
