{% extends 'dashboard/base_dashboard.html' %}


{% block dashboard_content %}
<h2>Visão geral</h2>
<br><br>

<div class="col-sm-3">
    <a href="{% url 'dashboard:ad_list' %}" class="btn btn-info btn-block">
        <h4><i class="fa fa-dropbox fa-lg"></i><br><br> Meus anúncios</h4>
        <strong>{{ user.ads.count }}</strong><br><br>
    </a>
</div>

<div class="col-sm-3">
    <a href="{% url 'dashboard:offer_list' %}" class="btn btn-warning btn-block">
        <h4><i class="fa fa-wechat"></i><br><br> Ofertas</h4>
        <strong>{{ user.offers.count }}</strong><br><br>
    </a>
</div>
{% endblock dashboard_content %}
