{% extends 'base.html' %}

{% block content %}
<div class="alert alert-info">
    <h3>Obrigado por anunciar! Em breve seu anúncio estará ativo.</h3>
    <p>Quando o seu anúncio estiver ativo você receberá um e-mail. Enquanto isso, você pode continuar desapegando!
        Anúncios inseridos à noite e aos finais de semana poderão levar mais tempo para serem publicados.
    </p>
</div>

<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Anúncio <a href="#" class="btn btn-link"><i class="icon-edit"></i> alterar</a></h4></div>
        <div class="panel-body">
            <h3>{{ ad.title }}</h3>
            {% for meta in ad.metas %}
                <strong>{{ meta.meta.name }} - {{ meta.options }}</strong>
            {% endfor %}
            <strong>Descrição:</strong>
            <p>{{ ad.description }}</p>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Dados pessoais <a href="#" class="btn btn-link"><i class="icon-edit"></i> alterar</a></h4></div>
        <div class="panel-body">
            <strong>Usuário</strong>
            <p>{{ ad.person.username }}</p>
        </div>
    </div>
</div>
{% endblock content %}
