{% extends 'base_site.html' %}


{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}
{% load core_tags %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'js/products.js' %}"></script>
{% endblock js %}

{% block breadcrumb %}
<li>{% trans "Categories" %}</li>
<li class="active"><span>{{ slug|title }}</span></li>
{% endblock breadcrumb %}


{% block content %}
<div class="clearfix">
    <h2 class="text-center">{{ object.price|brl }} - {{ object.title|title }}</h2>
    <small>{% trans "criado em:" %} {{ object.created_at|date:"d/m/Y" }}</small>
</div>

<div class="row clearfix">
    <div class="col-sm-7 text-center">
        {% cloudinary object.image alt=object.title|title class='img-responsive' %}
    </div>
    <div class="col-sm-5">
        <h3><i class="icon-list"></i> {% trans "Descrição do produto" %}</h3>
        <p>{{ object.description|safe }}</p>

        <div class="clearfix">
            <a href="#offers" class="button_big">{% trans "Ofertar" %}</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="clearfix">
        <h3><i class="icon-cog"></i> {% trans "Características do produto" %}</h3>

        <table class="table table-striped">
            <tbody>
                {% for meta in object.metas.all %}
                <td class="col-sm-4">{{ meta.meta.meta.name }}</td>
                <td>{{ meta.value }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div id="offers" class="clearfix">
        <h3><i class="icon-basket"></i> {% trans "Ofertas" %}</h3>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#formOffer" title="Fazer uma oferta" data-toggle="collapse" data-parent="#accordion" href="#formOffer"><i class="icon-plus-circle"></i> Fazer uma oferta</a>
                </h4>
            </div>

            <div id="formOffer" class="panel-body panel-collapse collapse {% if not user.is_authenticated %}in{% endif %}">
                {% if not user.is_authenticated %}
                <p>Para fazer uma oferta é necessário se cadastrar no sistema. Para se cadastrar <a href="{% url 'account_signup' %}?next={% url 'ads:ad_detail' object.slug %}" title="Cadastre-se">clique aqui</a>. Para fazer login <a href="{% url 'account_login' %}?next={% url 'ads:ad_detail' object.slug %}" title="Cadastre-se">clique aqui</a>.</p>
                {% else %}
                <form id="id_form_offer" name="form_offer" action="{% url 'ads:offer_create' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        {% include 'form_offer_snnipet.html' %}
                    </div>
                    <button type="submit" class="button_medium">Ofertar</button>
                </form>
                {% endif %}
            </div>
        </div>

        <div id="offer_list" class= "timeline">
            <ul class="offer-list cbp_tmtimeline">
                {% for offer in object.offers %}
                {% include 'offer_snippet.html' %}

                {% if offer.relateds %}
                {% for offer in offer.relateds %}
                {% include 'offer_snippet.html' %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
