{% extends 'base_site.html' %}

{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}
{% load core_tags %}

{% block metatag %}
<meta property="og:locale" content="pt_BR"> <!-- Depois pegar a língua em que o anúncio foi feito. Não é o caso nesse MVP. -->
<meta property="og:url" content="http://www.tobuscando.com{{request.get_full_path}}">
<meta property="og:title" content="Estou buscando {{ object.title|title }} na faixa de {{ object.price|brl }}">
<meta property="og:site_name" content="Tobuscando">
<meta property="og:description" content="Você tem alguma proposta para {{ object.title|title }} na média de {{ object.price|brl }} para me ofertar? Use o Tobuscando.com para me ajudar a encontrar!">
<meta property="og:image" content="http://res.cloudinary.com/to-buscando/image/upload/c_fill,h_338,w_631/{{ object.image }}.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="fb:app_id" content="283595268500721">
<meta property="og:image:width" content="631">
<meta property="og:image:height" content="338">
<meta property="og:type" content="website">
{% endblock metatag %}

{% block page_title %}Estou buscando {{ object.title }} até na média de {{ object.price|brl }} reais no {% endblock page_title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'js/products.js' %}"></script>
<script type="text/javascript">
    $("a.offer").click(function() {
        $("#formOffer").addClass('in');
    });
</script>
{% endblock js %}

{% block breadcrumb %}
<li>{% trans "Categories" %}</li>
<li class="active"><span>{{ slug|title }}</span></li>
{% endblock breadcrumb %}


{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=283595268500721&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>

<div class="clearfix">
    <h2 class="text-center"><img src="{% static 'images/logo_mobile.png' %}">Tobuscando {{ object.title|title }} na média de {{ object.price|brl }}!</h2>
</div>

<div class="row clearfix">
    <div class="col-sm-7 text-center">
        {% if object.image %}
        {% cloudinary object.image alt=object.title|title class='img-responsive' %}
        {% else %}
        <img src="{% static 'images/ad.gif' %}" alt="Anúncio" width="100" height="100">
        {% endif %}
    </div>
    <div class="col-sm-5">

        <div class="clearfix">
            <div class="fb-like" data-href="http://www.tobuscando.com{{request.get_full_path}}" data-width="100%" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="tobuscando">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <h3><i class="fa fa-list"></i> {% trans "Descrição do produto" %}</h3>
        <div class="clearfix">
            {{ object.description|safe }}
            <br><br>
        </div>
        <div class="row clearfix">
            <a href="{% url 'core:person_view' object.person.username %}" title="{{ object.person.get_full_name }}" style="color: #444;">
                {% if object.person.avatar %}
                <div class="col-sm-2">
                    {% cloudinary object.person.avatar width=50 height=50 %}
                </div>
                {% endif %}

                <div class="col-sm-10">
                    <ul class="list-unstyled">
                        <li><strong>{{ object.person.get_full_name }}</strong></li>
                        {% if object.view_phone %}
                        <li><strong>{% trans "Fone:" %}:</strong> {{ object.person.phone|safe }}</li>
                        {% endif %}
                        {% if object.is_bargain %}
                        <li><strong>{% trans "Aceito negociar propostas similares." %}</strong></li>
                        {% endif %}
                        <li><strong>{% trans "Criado em:" %}</strong> {{ object.created_at|date:"d/m/Y" }}</li>
                        {% if object.limit_date %}
                        <li><strong>{% trans "Termina em:" %}</strong> {{ object.limit_date|date:"d/m/Y" }}</li>
                        {% else %}
                        <li><strong>{% trans "Sem prazo de término. Vence quando receber a melhor oferta/proposta." %}</strong></li>
                        {% endif %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    <div class="clearfix">
        <a href="#offers" title="Ofertar" class="offer button_big">{% trans "Ofertar" %}</a>
    </div>
</div>

{% if object.metas.count %}
<div class="row">
    <div class="clearfix">
        <h3><i class="fa fa-cog"></i> {% trans "Características do produto" %}</h3>
        <table class="table table-striped">
            <tbody>
                {% for meta in object.metas.all %}
                <td class="col-sm-4">{{ meta.meta.meta.name }}</td>
                <td>{{ meta.value }}</td>
                {% endfor %}
            </tbody>
        </table>
        <br />

        <small><strong>{% trans "O Tobuscando.com não vende este produto e não participa de qualquer parte da negociação, limitando-se apenas a anunciar produtos dos seus usuários." %}</strong></small>
    </div>
</div>
{% endif %}

<div class="row">
    <div id="offers" class="clearfix">

        <h3><i class="fa fa-star"></i> {% trans "Ofertas" %}</h3>
        <small>{% trans "Proposta de compra criada em:" %} {{ object.created_at|date:"d/m/Y" }}</small>

        <div class="panel panel-default">

            <a href="#formOffer" title="Fazer uma oferta" data-toggle="collapse" data-parent="#accordion" class="button_fullwidth-2 text-left" style="margin-bottom: 0; text-align: left;"><i class="fa fa-plus-circle"></i> {% trans "Fazer uma oferta" %}</a>

            <div id="formOffer" class="panel-body panel-collapse collapse">
                {% if not user.is_authenticated %}
                <p>{% trans "Para fazer uma oferta é necessário se cadastrar no sistema. Para se cadastrar" %} <a href="{% url 'account_signup' %}?next={% url 'ads:ad_detail' object.slug %}" title="Cadastre-se">clique aqui</a>. Para fazer login <a href="{% url 'account_login' %}?next={% url 'ads:ad_detail' object.slug %}" title="Cadastre-se">clique aqui</a>.</p>
                {% else %}
                <form id="id_form_offer" name="form_offer" action="{% url 'ads:offer_create' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        {% include 'form_offer_snnipet.html' %}
                    </div>
                    <button type="submit" class="button_outline text-center btn-info btn-new_ad">{% trans "Ofertar" %}</button>
                </form>
                {% endif %}
            </div>
        </div>

        <div id="offer_list" class= "timeline">
            <ul class="offer-list cbp_tmtimeline">
                {% for offer in object.offers %}
                {% include 'offer_snippet.html' %}

                {% if offer.relateds %}
                {% for offer in offer.relateds %}
                {% include 'offer_snippet.html' %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div id="offers" class="clearfix">
        <h3><i class="fa fa-comments"></i> {% trans "Comentários" %}</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="fb-comments" data-href="http://www.tobuscando.com{{request.get_full_path}}" data-numposts="4" data-colorscheme="light" data-width="100%"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
