{% extends 'base_site.html' %}

{% load staticfiles %}
{% load mptt_tags %}
{% load bootstrap3 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'js/products.js' %}"></script>

{% if form_ad.category.value %}
<script type="text/javascript">
    $(document).ready(function() {
        $("div.id_category_{{ form_ad.category.value }}").show();

        $("label[for=id_category_{{ form_ad.category.value }}]")
        .addClass('active')
        .parent('div')
        .show();
    });
</script>
{% endif %}

{% endblock js %}


{% block content %}
<h2>Faça seu anúncio grátis!</h2>

{% if form_ad.is_multipart %}
<form novalidate enctype="multipart/form-data" id="id_form_ad" name="form_ad" action="." method="POST" class="form-horizontal">
    {% else %}
    <form id="id_form_ad" name="form_ad" action="." method="POST" class="form-horizontal">
        {% endif %}
        {% csrf_token %}

        <div class="well">

            {% if form_ad.errors or meta_inlineformset.errors or form_person.errors %}
            <div class="alert alert-danger">
                <div class="clearfix">
                    {{ form_ad.errors|default_if_none:"" }}
                </div>
                <div class="clearfix">
                    {{ meta_inlineformset.errors|default_if_none:"" }}
                </div>
                <div class="clearfix">
                    {{ form_person.errors|default_if_none:"" }}
                </div>
            </div>
            {% endif %}

            <div class="clearfix">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ form_ad.category.label }}</label>
                    <div id="category" class="col-md-3">
                        {% recursetree categories %}
                        <label for="id_category_{{ node.pk }}" class="list-group-item" title="{{node.name}}" data-parent="{{ node.parent.pk }}">
                            {{ node.name }}
                            {% if form_ad.category.value|add:"0" == node.pk|add:"0" %}
                            <input checked="checked" id="id_category_{{ node.pk }}" name="category" type="radio" value="{{ node.pk }}" class="radio-category">
                            {% else %}
                            <input id="id_category_{{ node.pk }}" name="category" type="radio" value="{{ node.pk }}" class="radio-category">
                            {% endif %}
                        </label>

                        {% if not node.is_leaf_node %}
                        <div class="list-group dropdown-nav col-md-12 col-sm-12 id_category_{{ node.pk }} {% if node.parent.pk %}parent-{{ node.parent.pk }}{% endif %}">
                            {{ children }}
                        </div>
                        {% endif %}
                        {% endrecursetree %}
                    </div>
                </div>

                <div class="col-sm-offset-2 col-sm-10 has-error">
                    {% for error in form_ad.category.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div id="metaoptions" class="clearfix">
                {% if form_ad.category.value %}
                {% include 'categorymeta_form.html' %}
                {% endif %}
            </div>

            <div class="clearfix">
                {% for field in form_ad %}
                {% if field.name != 'category' %}
                {% if field.field.required %}
                <span class="required">
                    {% bootstrap_field field layout='horizontal' %}
                </span>
                {% else %}
                {% bootstrap_field field layout='horizontal' %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>

            <div class="clearfix">
                <h3>Usuário que está anunciando:</h3>

                <div class="clearfix">
                    {% if user.is_authenticated %}
                    <!-- <div class="form-group">
                        <label class="control-label col-sm-2">Nome:</label>
                        <div class="col-sm-10">{{ user.first_name }}</div>
                    </div> -->
                    <div class="form-group">
                        <div class="control-label col-md-2"><label for="email_usuario">Email:</label></div>
                        <div class="col-md-4">
                            <input type="email" class="form-control" id="email_usuario" name="email_usuario" placeholder="Email do usuário logado." title="Verifique se o seu e-mail está correto." type="text" value="{{ user.email|lower }}" readonly>
                        </div>

                    </div>
                    <p class="col-sm-offset-2">Não é você? <a href="{% url 'account_logout' %}?next={% url 'ads:ad_create' %}"><strong>Clique aqui.</strong></a></p>
                    {% else %}
                    {% bootstrap_form form_person layout='horizontal' %}
                    {% endif %}
                </div>
            </div>

            {% buttons %}
            <hr>
            <div class="col-sm-12 col-sm-offset-2">
                <button type="submit" class="button_big">Publicar oferta</button>
            </div>
            {% endbuttons %}
        </div>
    </div>
</form>
{% endblock content %}
