{% extends 'base_site.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load bootstrap3 %}


{% block content %}

<aside class="col-lg-3 col-md-4 col-sm-4">
    <div class="box_style_1">
	<ul class="submenu-col categories">
        <li> <a href="" id="active">Men Accessories</a></li>
        <li> <a href="">Women Accessories</a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
        <li> <a href="">Electronics </a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
        <li> <a href="">Computers </a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
        <li> <a href="">Home and Furniture</a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
        <li> <a href="">Others</a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
    </ul>
    </div>
</aside>

{% endblock content %}