{% extends 'base_site.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load bootstrap3 %}


{% block content %}

<aside class="col-lg-3 col-md-4 col-sm-4">
    <div class="box_style_1">
    <h4>Categorias</h4>
	<ul class="submenu-col categories">
        <li> <a href="">Celulares e Tablets</a>
        	<ul class="categories">
                <li> <a href="">Celulares e Smartphones</a> </li>
                <li> <a href="">Tablets - iPads</a> </li>
                <li> <a href="">Acessorios e Outros</a> </li>
            </ul>
        </li>
        <li> <a href="">Eletrônicos e Informática</a> 
        	<ul class="categories">
                <li> <a href="">Computadores e Acessórios</a> 
                	<ul class="categories">
	                	<li><a href="">Impressoras e Suprimentos</a></li>
	                	<li><a href="">Monitores, Acessorios, Wi-fi</a></li>
	                	<li><a href="">Notebooks e Netbooks</a></li>
	                	<li><a href="">PCs e Computadores</a></li>
	                	<li><a href="">Peças e Componentes</a></li>
	                	<li><a href="">Outros</a></li>
                	</ul>
                </li>
                <li> <a href="">Video Games - Consoles </a> 
                	<ul class="categories">
	                	<li><a href="">Acessórios</a></li>
	                	<li><a href="">Consoles</a></li>
	                	<li><a href="">Jogos</a></li>
                	</ul>
                </li>
                <li> <a href="">Home and Furniture</a> </li>
                <ul class="categories">
                	<li><a href="">Women Accessories</a></li>
                </ul>
            </ul>
        </li>
        <li> <a href="">Electronics </a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
        <li> <a href="">Computers </a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
        <li> <a href="">Home and Furniture</a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
        <li> <a href="">Others</a> 
        	<ul>
                <li> <a href="">Women Accessories</a> </li>
                <li> <a href="">Computers </a> </li>
                <li> <a href="">Home and Furniture</a> </li>
            </ul>
        </li>
    </ul>
    </div>
</aside>


{% endblock content %}