{% extends 'base_site.html' %}

{% load pagination_tags %}


{% block page_title %}{{ slug|title }} - {% endblock page_title %}

{% block content %}

<div id="breadcrumb" class="clearfix col-sm-12">
    <ul class="breadcrumb">{% block breadcrumb %}{% endblock breadcrumb %}</ul>
</div>

<aside class="col-lg-3 col-md-4 col-sm-4">
    {% include 'category_nav.html' %}
</aside>

<div class="col-sm-9">
    <div class="clearfix">
        {% autopaginate object_list 10 %}
        {% for object in object_list %}
        {% include 'ad_snippet.html' %}
        {% empty %}
        {% include 'not_found.html' %}
        {% endfor %}
    </div>
    <div class="clearfix">{% paginate %}</div>
</div>

{% endblock content %}
