{% extends 'base_site.html' %}

{% load i18n %}
{% load pagination_tags %}


{% block page_title %}{{ slug|title }} - {% endblock page_title %}

{% block content %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/" title="{% trans "Home" %}">{% trans "Home" %}</a></li>
    <li class="active">{% trans "Anúncios" %}</li>
</ul>
{% endblock breadcrumb %}

<aside class="col-lg-3 col-md-4 col-sm-4">
    {% include 'category_nav.html' %}
</aside>

<div class="col-sm-9">
    <div class="clearfix">
        <ul class="list-unstyle list-inline pull-right">
            <li>{% trans 'Ordenar por:' %}</li>
            <li><a href="?order_by=price" title="Menor preço">Menor preço</a></li>
            <li><a href="?order_by=-price" title="Maior preço">Maior preço</a></li>
        </ul>
    </div>

    <div class="clearfix">
        {% autopaginate object_list 10 %}
        {% for object in object_list %}
        {% include 'ad_snippet.html' %}
        {% empty %}
        {% include 'not_found.html' %}
        {% endfor %}
    </div>
    <div class="clearfix">{% paginate %}</div>
</div>

{% endblock content %}
