
{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}
{% load core_tags %}


<div class="clearfix">
    <a href="{{ object.get_absolute_url }}" title="{{ object.title|title }}" class="col-sm-12 col-item">
        <div class="photo col-sm-2">
        {% cloudinary object.image alt=object.title|title height=100 width=100 class='img-responsive' %}
        </div>
        <div class="col-sm-10">
            <div class="row col-md-12 col-sm-12">
                <div class="col-sm-7">
                    <h4>{% trans object.title|title %}</h4>
                    <p>{% trans object.category.name %}</p>
                </div>
                <div class="price col-sm-3">{{ object.price|brl }}</div>
                <div class="price col-sm-2 text-right"><small>criado em<br>{{ object.created_at|date:"d/m/y" }}</small></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </a>
</div>
