{% extends 'base_site.html' %}

{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}
{% load core_tags %}


{% block content %}
<div class="alert alert-info">
    <h3>Obrigado por anunciar!</h3>
    <p>Quando o seu anúncio estiver ativo você receberá um e-mail! Levará poucos minutos!
    </p>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Anúncio <a href="{% url 'dashboard:ad_edit' ad.pk %}" class="btn btn-link"><i class="fa fa-edit"></i> alterar</a></h4></div>
            <div class="panel-body">
                <h3>{{ ad.title }}</h3>
                <div class="col-sm-12">
                    {% if ad.image %}
                    {% cloudinary ad.image width=250 height=250 alt=ad.title class='img-responsive' %}
                    {% else %}
                    <img src="{% static 'images/ad.gif' %}" alt="Anúncio" width="250" height="250">
                    {% endif %}
                </div>

                <div class="clearfix">
                    <br>
                    <div class="clearfix">
                        {% for meta in ad.metas.all %}
                        <strong>- {{ meta.meta.meta.name }}:</strong> {{ meta.option }}
                        {% endfor %}
                    </div>
                    <strong>Descrição:</strong>
                    <p>{{ ad.description|safe }}</p>

                    <strong>Preço:</strong>
                    <p>{{ ad.price }}</p>

                    {% if ad.link_reference %}
                    <strong>Anúncio referência:</strong>
                    <p>{{ ad.link_reference }}</p>
                    {% endif %}

                    {% if ad.limit_date %}
                    <strong>válido até:</strong>
                    <p>{{ ad.limit_date }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Dados pessoais <a href="{% url 'dashboard:profile' %}" class="btn btn-link"><i class="fa fa-edit"></i> alterar</a></h4></div>
            <div class="panel-body">
                <strong>Usuário</strong>
                <p>{{ ad.person.username }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
