{% load mptt_tags %}

<div class="box_style_1">
    <h4>Categorias</h4>
    <ul class="submenu-col">
        <li><a href="{% url 'ads:category_detail' object.slug %}" title="{{ object.name }}">{{ object.name }}</a></li>
        {% recursetree categories %}
        <li><a href="{% url 'ads:category_detail' node.slug %}" title="{{ category.name }}">{{ node.name }}</a></li>
        {% endrecursetree %}
    </ul>

    {% for meta in object.metas %}
    <h4>{{ meta.meta.name }}</h4>
    <ul class="submenu-col">
        {% for option in meta.options.all %}
        <li><a href="?meta_{{ meta.meta.name }}__option={{ option.value }}" title="{{ option.value|title }}">{{ option.value|title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

    <h4>Filtrar</h4>
    <ul class="submenu-col">
        <form action="." method="GET">
            <li><input id="id_min_price" name="min_price" placeholder="Preço mínimo" value="{{ min_price|floatformat:'2'|default_if_none:'' }}" class="form-control"></li>
            <li><input id="id_max_price" name="max_price" placeholder="Preço máximo" value="{{ max_price|floatformat:'2'|default_if_none:'' }}" class="form-control"></li>
            <li><button class="button_outline text-center btn-info btn-block btn-new_ad hidden-xs">Filtrar</button></li>
        </form>
    </ul>
    <br>
</div>
