<aside class="col-lg-3 col-md-4 col-sm-4">
    <div class="box_style_1">
        <h4>Categorias</h4>
        <ul class="submenu-col">
            <li><a href="#" id="active">Todas as categorias</a></li>
            <li><a href="course_details_2.html">Esportes (10)</a></li>
            <li><a href="course_details_2.html">Animais e acessórios (08)</a></li>
            <li><a href="course_details_2.html">Móveis (05) </a></li>
            <li><a href="course_details_2.html">Eletrônicos e celulares (08) </a></li>
            <li><a href="course_details_2.html">Música (04)</a></li>
            <li><a href="course_details_2.html">Infantil (06)</a></li>
            <li><a href="course_details_2.html">Veículos (08)</a></li>
            <li><a href="course_details_2.html">Imóveis (08)</a></li>
            <li><a href="course_details_2.html">Oportunidades (08)</a></li>
        </ul>
    </div>
</aside>
