
{% load staticfiles %}
{% include 'header.html' %}
{% load mptt_tags %}
{% load bootstrap3 %}
{% include 'navbar.html' %}

{% block content %}

<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Anuncie já!</h1>
			<p class="lead boxed">Preencha nosso formulário abaixo e cadastre o seu produto.</p>
			<p class="lead">
				Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. 
			</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->
  
<section id="main_content" >
<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class=" box_style_2">
			<span class="tape"></span>
			<div class="row">
				<div class="col-md-12">
					<h3>Faça seu anúncio grátis!</h3>
				</div>
			</div>
			<div id="message-apply"></div>
			{% if form_ad.is_multipart %}
			<form method="post" enctype="multipart/form-data" action="." id="id_form_ad" name="form_ad">
			{% else %}
    		<form id="id_form_ad" name="form_ad" action="." method="POST">
    		{% endif %}
        	{% csrf_token %}
				<div class="row">
					<div class="col-md-12 col-sm-6">
						<div class="form-group">
							{% bootstrap_label form_ad.category.label %}
							<ul id="category" class="list-group col-sm-3">
                        	{% recursetree categories %}
                        		<li id="dropdown-nav-{{ node.pk }}" class="list-group-item">
                        		    <label for="id_category_{{ node.pk }}">
                          		      {{ node.level }}
                           		      {{ node.name }}
                               		  {% if form_ad.category.value|add:"0" == node.pk|add:"0" %}
                              			  <input checked="checked" id="id_category_{{ node.pk }}" name="category" type="radio" value="{{ node.pk }}" class="radio-category">
                              		  {% else %}
                              			  <input id="id_category_{{ node.pk }}" name="category" type="radio" value="{{ node.pk }}" class="radio-category">
                              		  {% endif %}
                           			</label>

                           			{% if not node.is_leaf_node %}
                           			<ul id="dropdown-nav-{{ node.pk }}" class="list-group dropdown-nav col-sm-12">
                             		   {{ children }}
                           			</ul>
                           			{% endif %}
                            		{% endrecursetree %}
                        		</li>
                   			</ul>
						</div>
						{{ form_ad.category.errors }}
					</div>
					<div id="metaoptions" class="clearfix">
		                {% if form_ad.category.value %}
		                {% include 'categorymeta_form.html' %}
		                {% endif %}
		            </div>

		            <div class="clearfix">
		                {% for field in form_ad %}
		                {% if field.name != 'category' %}
		                <div class="cleafix">
		                    {% bootstrap_field field %}
		                    {% bootstrap_form_errors form_ad %}
		                </div>
		                {% endif %}
		                {% endfor %}
		            </div>

		            {% buttons %}

		            <br>
		            <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
		            {% endbuttons %}
					
					
                </div>
			</form>
		</div>
	</div>
</div>
</div>
</section>

{% endblock content %}

<!-- footer -->
{% include 'footer.html' %}