{% extends 'base_site.html' %}

{% load bootstrap3 %}
{% load socialaccount %}
{% load i18n %}
{% load account %}
{% load url from future %}


{% block content %}
<div class="row">
    <h2 class="text-center">Acessar minha conta</h2>
    <br>
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <form action="{% url 'account_login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {% bootstrap_form form %}
            </div>

          <p class="small text-right">
            <a href="{% url 'account_reset_password' %}">{% trans "Esqueceu sua senha?" %}</a>
        </p>
        <button type="submit" class="button_fullwidth">{% trans "Entrar" %}</button>
        <div class="login-or"><hr class="hr-or"><span class="span-or">ou</span></div>
        <div class="row">
            {% for provider in socialaccount.providers %}
            {% ifequal provider.name "Facebook" %}
            <div class="col-md-6 col-sm-6 login_social">
                <a href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" class="button_outline btn-block text-center btn-info btn-new_ad facebook"><i class="icon-facebook"></i> Facebook</a>
            </div>
            {% endifequal %}
            {% endfor %}
            <div class="col-md-6 col-sm-6 login_social">
                <a href="{{ signup_url }}" class="button_fullwidth-2">{% trans "Criar uma conta" %}</a>
            </div>

            <div class="clearfix"></div>
        </div>
    </form>
</div>
</div>
{% endblock content %}
