{% extends 'dashboard/base_dashboard.html' %}


{% block dashboard_content %}
{% load bootstrap3 %}
{% load socialaccount %}
{% load i18n %}
{% load account %}
{% load url from future %}

<h2>Aterar Password</h2>
<br><br>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-default" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock dashboard_content %}