{% extends "base_site.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Recuperar senha" %}{% endblock %}

{% block content %}
<div class="row" style="margin-top: 60px;">
	<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <h3 class="text-center">{% trans "Um e-mail foi enviado. Por favor contacte-nos se não o receber nos próximos minutos." %}</h3>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    </div>
    
</div>
{% endblock %}