{% extends 'base_site.html' %}
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}
{% load bootstrap3 %}


{% block content %}
<div class="row" style="margin-top: 60px;">
    <h2 class="text-center">{% if token_fail %}{% trans "Token Inválido" %}{% else %}{% trans "Alterar Senha" %}{% endif %}</h2>
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}Este link acessado é inválido, possivelmente já foi expirado. Por favor, solicite um novo link: <a href="{{ passwd_reset_url }}">novo link</a>.{% endblocktrans %}</p>
    {% else %}
    <br>
    {% if form %}
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <form action="." method="POST">{% csrf_token %}
            <div class="form-group">
              {% bootstrap_form form %}
              <input type="hidden" name="action" value="Alterar" />
          </div>

            <div class="col-md-12 col-sm-6 login_social">
            <input type="submit" value="Alterar"class="button_fullwidth-2"></input>
            </div>
            <div class="clearfix"></div>

        </form>
        {% else %}
        <strong>{% trans 'Sua senha ja foi alterada.' %}</strong>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}