{% load i18n %}{% autoescape off %}
{% blocktrans %}Você está recebendo este e-mail porque você pediu uma redefinição de senha para sua conta de usuário.{% endblocktrans %}

{% trans "Por favor, clique no link para alterar a sua senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "O seu nome de usuário, caso você tenha esquecido:" %} {{ user.get_username }}

{% trans "Obrigado por usar o ToBuscando.com!" %}

{% blocktrans %}Abraços da equipe ToBuscando.com!{% endblocktrans %}

{% endautoescape %}