{% load i18n %}

{% if validlink %}

<p>{% trans "Por favor, digite a nova senha duas vezes, para que possamos verificar se você digitou corretamente." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'Nova senha:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirme a senha:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Alterar minha senha' %}" /></p>
</form>

{% else %}

<p>{% trans "O link de redefinição de senha está inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha." %}</p>

{% endif %}